@import url(https://MarkChan0225.github.io/RoundedDiscord/src/roundeddiscord.css);
@import url(https://MarkChan0225.github.io/RoundedDiscord/src/experimental.css);
@import url(https://discordstyles.github.io/Fluent/Icons.css);
@import url(https://dablulite.github.io/css-snippets/NoLightInDark/import.css);
@import url(//dablulite.github.io/css-snippets/NitroThemesFix/import.css);

:root {
  --radius: 16px;
}

/* timestamp on hover 
[class*=timestampInline-] {
  opacity: 0;
  transition: 0.2s opacity ease-in-out;
}

[class^=message-]:hover [class*=timestampInline-] {
  opacity: 1;
}

[class*=timestampVisibleOnHover-] {
  opacity: 0;
  transition: 0.2s opacity ease-in-out;
}

[class^=message-]:hover [class*=timestampVisibleOnHover-] {
  opacity: 1;
}

[class*=latin24CompactTimeStamp-] {
  opacity: 0;
  transition: 0.2s opacity ease-in-out;
}

[class^=message-]:hover [class*=latin24CompactTimeStamp-] {
  opacity: 1;
}
*/
/* Add danger colours to dangerous user actions */
#user-context-close-dm, #user-context-remove-friend, #user-context-block { color: var(--status-danger) }
#user-context-close-dm:active, #user-context-remove-friend:active, #user-context-block:active {
    background-color: var(--red-500)!important;
    color: var(--white-500)!important;    
}
#user-context-close-dm[class*="focused-"], #user-context-remove-friend[class*="focused-"], #user-context-block[class*="focused-"] {
    background-color: var(--button-danger-background);
    color: var(--white-500);   
}

/* "Exclusive To Nitro" in profile banner GONE */

[class*=premiumIconWrapper] {
display: none;
}

/* Remove GIFT NITRO Button from CHAT BAR */
[aria-label*="Send a gift"] {
    display: none;
}

/* "GIF" text in profile banner GONE*/

[class*=gifTag] {
  display: none;
}

/* role tint */

.rolePill-78LFtg {
    padding: 0;
    overflow: hidden;
    position: relative;
}
.rolePill-78LFtg .roleRemoveButton-17oXnT {
    position: unset;
    width: 100%;
    height: 100%;
}
.rolePill-78LFtg .roleRemoveButton-17oXnT .roleCircle-3TFUOr {
    border-radius: unset;
    margin: unset;
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}
.rolePill-78LFtg .roleRemoveButton-17oXnT .roleRemoveIcon-387wKV {
    background: var(--profile-role-pill-background-color);
    padding: 2px;
    border-radius: 50%;
    margin: -6px 0 0 -6px;
}
.rolePill-78LFtg .roleRemoveButton-17oXnT .roleRemoveIcon-387wKV path {
    fill: #fff;
}
.rolePill-78LFtg .roleRemoveButton-17oXnT + .roleName-2ZJJYR,
.rolePill-78LFtg .roleIcon-29epUq {
    margin-left: 4px;
}
.rolePill-78LFtg .roleName-2ZJJYR {
    padding: 4px;
}
.rolePill-78LFtg .roleIcon-29epUq {
    min-width: 16px;
    z-index: 1;
}

/* Make pronouns stand out more */
[class*=pronouns] {
  color: var(--text-normal);
  font-size: 12px; font-weight: 800;
  background: #ffffff20;
  padding: 0.10rem 0.5rem; margin: 0.25rem 0 0 0;
  border-radius: 1rem;
}

/* Vesktop rounded corner */
.base-2jDfDU {
    border-top-left-radius: 5px;
}

/* home button go brrrrrrrr */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(-20deg);
    }
    70% {
        transform: rotate(380deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

[class^=listItemWrapper-3d87LP]:hover [class^=homeIcon-r0w4ny]:hover {
    animation: spin 0.8s ease;
}

/* blur */
html:not(.app-focused) {
  filter: blur(4px);
  transition: filter 400ms ease-in, filter 550ms ease-in;
}

html:not(.app-focused) #app-mount::after {
  content: "";
  z-index: 200;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

html.app-focused {
  filter: blur(0);
  transition: filter 400ms ease-out, filter 550ms ease-out;
}

/* Jump To Present Bar Revamp */
[class*="jumpToPresentBar"] {
    display: contents;
}

[class*="jumpToPresentBar"] > button:first-child {
    display: none;
}

[class*="jumpToPresentBar"] > button:last-child {
    position: absolute;
    z-index: 1;
    bottom: 24px;
    right: 22px;
    padding: 8px !important;
    height: auto;
    background-color: #2e353b20;
    box-shadow: var(--elevation-high);
    border-radius: 100px;
    display: flex;
    font-size: 0px;
    color: transparent;
    transition: font-size .2s .1s, color .2s, padding .4s .1s;
}

[class*="jumpToPresentBar"] > button svg {
    order: -1;
    margin: 0px;
    height: 24px;
    width: 24px;
    top: auto;
    margin-right: 0px;
    margin-left: 0px;
    color: #FFFFFF;
    transition: margin .6s;
}

[class*="jumpToPresentBar"]:hover > button {
    padding: 8px 18px !important;
    font-size: 14px;
    color: #FFFFFF;
    transition: font-size .2s, color .2s .1s, padding .4s;
}

[class*="jumpToPresentBar"]:hover > button svg {
    margin-right: 2px;
    margin-left: -6px;
}

/* Attachment Alt-Text Space Fix */
.altText-sAs-Ao {
  margin: .25rem 0 -0.15rem;
  line-height: 17px;
}

/* shake animation 
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

button:not(.shiki-btn):hover, [role="button"]:hover, [role="listitem"]:hover, div[class*="reaction-"]:hover, div[class*="popout"]:hover, div[class*="clickable"]:hover, div[class*="listItem-"]:hover, li[class*="containerDefault"]:hover, [class*="item"]:not([class*="tabBarItem"], [class*="Items"]):hover, [class*="channel-"]:hover {
  animation: 1s shake infinite;
}
*/
