@import url(https://minidiscordthemes.github.io/Snippets/RoleTint/RoleTint.css);
@import url(https://MarkChan0225.github.io/RoundedDiscord/src/roundeddiscord.css);
@import url(https://MarkChan0225.github.io/RoundedDiscord/src/experimental.css);

:root {
  --radius: 16px;
}

/* timestamp on hover */
[class*=timestampInline-] {
  opacity: 0;
  transition: 0.2s opacity ease-in-out;
}

[class^=message-]:hover [class*=timestampInline-] {
  opacity: 1;
}

[class*=timestamp-] {
  opacity: 0;
  transition: 0.2s opacity ease-in-out;
}

[class^=message-]:hover [class*=timestamp-] {
  opacity: 1;
}

[class*=latin24CompactTimeStamp-] {
  opacity: 0;
  transition: 0.2s opacity ease-in-out;
}

[class^=message-]:hover [class*=latin24CompactTimeStamp-] {
  opacity: 1;
}

/* Add danger colours to dangerous user actions */
#user-context-close-dm, #user-context-remove-friend, #user-context-block { color: var(--status-danger) }
#user-context-close-dm:active, #user-context-remove-friend:active, #user-context-block:active {
    background-color: var(--red-500)!important;
    color: var(--white-500)!important;    
}
#user-context-close-dm[class*="focused-"], #user-context-remove-friend[class*="focused-"], #user-context-block[class*="focused-"] {
    background-color: var(--button-danger-background);
    color: var(--white-500);   
}

/* "Exclusive To Nitro" in profile banner GONE */

[class*=premiumIconWrapper] {
display: none;
}

/* "GIF" text in profile banner GONE*/

[class*=gifTag] {
  display: none;
}

@import url("https://minidiscordthemes.github.io/Snippets/RoleTint/RoleTint.css");
